@tailwind base;
@tailwind components;
@tailwind utilities;

@theme inline {
  --font-mono: var(--font-roboto-mono);
}

body {
  font-family: Arial, Helvetica, sans-serif;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

@layer base {
  :root {
    --background: 0 0% 99.2157%;
    --foreground: 0 0% 0%;
    --card: 0 0% 99.2157%;
    --card-foreground: 0 0% 0%;
    --popover: 0 0% 98.8235%;
    --popover-foreground: 0 0% 0%;
    --primary: 152.8302 84.127% 62.9412%;
    --primary-foreground: 0 0% 0%;
    --secondary: 180 20% 99.0196%;
    --secondary-foreground: 0 0% 3.1373%;
    --muted: 0 0% 96.0784%;
    --muted-foreground: 0 0% 32.1569%;
    --accent: 150 100% 98.8235%;
    --accent-foreground: 152.8767 84.8837% 33.7255%;
    --destructive: 338.2456 89.5288% 62.549%;
    --destructive-foreground: 0 0% 100%;
    --border: 210 22.2222% 96.4706%;
    --input: 0 0% 92.1569%;
    --ring: 152.8302 84.127% 62.9412%;
    --chart-1: 152.8302 84.127% 62.9412%;
    --chart-2: 127.9688 98.4615% 74.5098%;
    --chart-3: 4.8241 100% 60.9804%;
    --chart-4: 197.1 91.7431% 57.2549%;
    --chart-5: 20.6723 100% 76.6667%;
    --sidebar: 0 0% 100%;
    --sidebar-foreground: 0 0% 0%;
    --sidebar-primary: 0 0% 0%;
    --sidebar-primary-foreground: 0 0% 100%;
    --sidebar-accent: 154.6154 92.8571% 94.5098%;
    --sidebar-accent-foreground: 0 0% 0%;
    --sidebar-border: 0 0% 92.1569%;
    --sidebar-ring: 0 0% 0%;
    --font-sans: Plus Jakarta Sans, sans-serif;
    --font-serif: Lora, serif;
    --font-mono: IBM Plex Mono, monospace;
    --radius: 1.4rem;
    --shadow-x: 0;
    --shadow-y: 1px;
    --shadow-blur: 3px;
    --shadow-spread: 0px;
    --shadow-opacity: 0.1;
    --shadow-color: oklch(0 0 0);
    --shadow-2xs: 0 1px 3px 0px hsl(0 0% 0% / 0.05);
    --shadow-xs: 0 1px 3px 0px hsl(0 0% 0% / 0.05);
    --shadow-sm:
      0 1px 3px 0px hsl(0 0% 0% / 0.1), 0 1px 2px -1px hsl(0 0% 0% / 0.1);
    --shadow:
      0 1px 3px 0px hsl(0 0% 0% / 0.1), 0 1px 2px -1px hsl(0 0% 0% / 0.1);
    --shadow-md:
      0 1px 3px 0px hsl(0 0% 0% / 0.1), 0 2px 4px -1px hsl(0 0% 0% / 0.1);
    --shadow-lg:
      0 1px 3px 0px hsl(0 0% 0% / 0.1), 0 4px 6px -1px hsl(0 0% 0% / 0.1);
    --shadow-xl:
      0 1px 3px 0px hsl(0 0% 0% / 0.1), 0 8px 10px -1px hsl(0 0% 0% / 0.1);
    --shadow-2xl: 0 1px 3px 0px hsl(0 0% 0% / 0.25);
    --tracking-normal: 0em;
    --spacing: 0.27rem;
  }

  .dark {
    --background: 0 0% 0%;
    --foreground: 0 0% 94.1176%;
    --card: 0 0% 3.9216%;
    --card-foreground: 0 0% 94.1176%;
    --popover: 180 1.8868% 10.3922%;
    --popover-foreground: 0 0% 94.1176%;
    --primary: 152.8302 84.127% 62.9412%;
    --primary-foreground: 0 0% 0%;
    --secondary: 152.8767 52.518% 27.2549%;
    --secondary-foreground: 0 0% 94.1176%;
    --muted: 240 2.6316% 14.902%;
    --muted-foreground: 0 0% 58.8235%;
    --accent: 153.913 71.875% 12.549%;
    --accent-foreground: 0 0% 99.6078%;
    --destructive: 340 100% 73.5294%;
    --destructive-foreground: 0 0% 100%;
    --border: 240 1.9608% 10%;
    --input: 0 0% 23.1373%;
    --ring: 152.8302 84.127% 62.9412%;
    --chart-1: 152.8302 84.127% 62.9412%;
    --chart-2: 121.8557 100% 80.9804%;
    --chart-3: 340 100% 85.8824%;
    --chart-4: 197.625 100% 68.6275%;
    --chart-5: 20.6723 100% 76.6667%;
    --sidebar: 0 0% 3.9216%;
    --sidebar-foreground: 0 0% 94.1176%;
    --sidebar-primary: 152.8302 84.127% 62.9412%;
    --sidebar-primary-foreground: 0 0% 100%;
    --sidebar-accent: 151.7647 100% 10%;
    --sidebar-accent-foreground: 152.8302 84.127% 62.9412%;
    --sidebar-border: 206.6667 7.8261% 22.549%;
    --sidebar-ring: 152.8302 84.127% 62.9412%;
    --font-sans: Plus Jakarta Sans, sans-serif;
    --font-serif: Lora, serif;
    --font-mono: IBM Plex Mono, monospace;
    --radius: 1.4rem;
    --shadow-x: 0;
    --shadow-y: 1px;
    --shadow-blur: 3px;
    --shadow-spread: 0px;
    --shadow-opacity: 0.1;
    --shadow-color: oklch(0 0 0);
    --shadow-2xs: 0 1px 3px 0px hsl(0 0% 0% / 0.05);
    --shadow-xs: 0 1px 3px 0px hsl(0 0% 0% / 0.05);
    --shadow-sm:
      0 1px 3px 0px hsl(0 0% 0% / 0.1), 0 1px 2px -1px hsl(0 0% 0% / 0.1);
    --shadow:
      0 1px 3px 0px hsl(0 0% 0% / 0.1), 0 1px 2px -1px hsl(0 0% 0% / 0.1);
    --shadow-md:
      0 1px 3px 0px hsl(0 0% 0% / 0.1), 0 2px 4px -1px hsl(0 0% 0% / 0.1);
    --shadow-lg:
      0 1px 3px 0px hsl(0 0% 0% / 0.1), 0 4px 6px -1px hsl(0 0% 0% / 0.1);
    --shadow-xl:
      0 1px 3px 0px hsl(0 0% 0% / 0.1), 0 8px 10px -1px hsl(0 0% 0% / 0.1);
    --shadow-2xl: 0 1px 3px 0px hsl(0 0% 0% / 0.25);
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}

.hide-scrollbar {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.hide-scrollbar::--webkit-scrollbar {
  display: none;
}
